<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Home</a>
<br>
<table border=4>
    <thead>
    <td>time</td>
    <td>latitude</td>
    <td>longitude</td>
    <td>depth</td>
    <td>mag</td>
    <td>magType</td>
    <td>nst</td>
    <td>gap</td>
    <td>dmin</td>
    <td>rms</td>
    <td>id</td>
    <td>place</td>
    <td>depthError</td>
    <td>magError</td>
    <td>magNst</td>
    <td>locationSource</td>
    </thead>

    {% for row in msg %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}</td>
            <td>{{ row[11] }}</td>
            <td>{{ row[12] }}</td>
            <td>{{ row[13] }}</td>
            <td>{{ row[14] }}</td>
            <td>{{ row[15] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>